[submodule "log_archive"]
	path = log_archive
	url = https://github.com/ismail-en-niou/log_archive
[submodule "server-state"]
	path = server-state
	url = https://github.com/ismail-en-niou/server-stats
[submodule "Nginx_Log_Analyser"]
	path = Nginx_Log_Analyser
	url = https://github.com/ismail-en-niou/Nginx_Log_Analyser
[submodule "gh-deployment-workflow"]
	path = gh-deployment-workflow
	url = https://github.com/ismail-en-niou/gh-deployment-workflow.git
