[submodule "log_archive"]
	path = log_archive
	url = https://github.com/ismail-en-niou/log_archive
[submodule "server-stats"]
	path = server-state
	url = https://github.com/ismail-en-niou/server-stats
